---
title: Contact
layout: page
feature_image: "/assets/img/fleur.jpg"
feature_text: |
  # Contact
---
<div class="contenu contact">
  
    <div class="ligne">
      <p>
        Pour toute demande d’information, n’hésitez pas à m’écrire à :
        <br/>
        <strong><a href="mailto:sevyoga7@gmail.com">sevyoga7@gmail.com</a></strong>
      </p>
    </div>

    <div class="ligne">
        {% include link-svg.html alt="facebook" href="https://www.facebook.com/Sev-Yoga-100599325044171" data="/assets/img/svg/facebook-color.svg" width="50" height="50" %}
        {% include link-svg.html alt="youtube" href="https://www.youtube.com/channel/UCvyC9prP-MXc3fFcbOBCo3Q" data="/assets/img/svg/youtube-color.svg" width="50" height="50" %}
        {% include link-svg.html alt="instagram" href="https://www.instagram.com/sevclem/" data="/assets/img/svg/instagram-color.svg" width="50" height="50" %}
    </div>

    <div class="ligne">
      <p class="adresse">
        Séverine Clément<br/>
        7 rue Jules Massenet<br/>
        21000 Dijon<br/>
        06 28 55 81 58<br/>
      </p>
    </div>

</div>
