---
title: Horaires et Tarifs
layout: page
feature_image: "/assets/img/meditation.jpg"
feature_text: |
  # Horaires et Tarifs
---

<div class="contenu">

  
  <div class="horaires">

    <div class="titre">
      <h3>Horaires</h3>
    </div>

    <table class="tableau">
      <thead>
        <tr>
          <th>Jour</th>
          <th>Horaire</th>
          <th>Lieu</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lundi</td>
          <td>19h00-20h00</td>
          <td><a href="{{ '/cours-en-ligne/' | relative_url }}">Cours en ligne</a></td>
        </tr>
        <tr>
          <td>Mardi</td>
          <td>19h00-20h00</td>
          <td>Quartier Tivoli {% include link-gmaps.html href="https://www.google.fr/maps/place/36+Rue+du+Chaignot,+21000+Dijon/@47.3170493,5.0349975,17z/data=!3m1!4b1!4m5!3m4!1s0x47f29dc18638f215:0x70c7d9d50b133e0c!8m2!3d47.3170493!4d5.0371862" %}</td>
        </tr>
        <tr>
          <td>Mercredi</td>
          <td>20h00-21h00</td>
          <td>Fontaine les Dijon {% include link-gmaps.html href="https://www.google.fr/maps/place/Centre+d'Animation+Pierre+Jacques/@47.3408515,5.0196143,17z/data=!3m1!4b1!4m5!3m4!1s0x47ed6278f61f74e7:0x45e7f184fe51191b!8m2!3d47.3408515!4d5.021803" %}</td>
        </tr>
      </tbody>
    </table>
  
    <p>Début des cours : 7 septembre 2020</p>

  </div>


  
  <div class="separateur">
    <hr />
  </div>

  <div class="tarifs">

    <div class="titre">
      <h3>Tarifs</h3>
    </div>
    
    <p>
      <strong>Séance d’essai gratuite</strong><br/>
      <strong>Un cours</strong> : 15€<br/>
      <strong>Carte 10 séances</strong> : 120€ (valable 6 mois)<br/>
      <strong>Trimestre</strong> : 120€ (10€ la séance)<br/>
      <strong>Septembre-Décembre</strong> : 140€<br/>
      <strong>Année Septembre-Juin</strong> : 330€ (9€ la séance)<br/>
      <br/>
      <strong>Séance en ligne</strong> : sur donation<br/>
    </p>

  </div>  

  <div class="separateur">
    <hr />
  </div>

  <div class="lieu">
    <div class="titre">
      <h3>Lieux</h3>
    </div>
    
    <h4 class="lieu">36 rue du Chaignot - Dijon (La Dijoncterie, quartier Tivoli)</h4>

    <div class="osmap">    
      <iframe width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=5.0337553024292%2C47.31548644232925%2C5.0408363342285165%2C47.318697697639855&amp;layer=mapnik&amp;marker=47.31709209437961%2C5.037295818328857" style="border: 1px solid black"></iframe>
      <small><a href="https://www.openstreetmap.org/?mlat=47.31709&amp;mlon=5.03730#map=18/47.31709/5.03730" target="_blank">Afficher une carte plus grande</a></small>
    </div>    

    <h4 class="lieu">Centre d’animation Pierre Jacques - Fontaine les Dijon</h4>
    
    <div class="osmap">
      <iframe width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=5.017694234848023%2C47.33933889919388%2C5.02477526664734%2C47.34254870466363&amp;layer=mapnik&amp;marker=47.340943826322146%2C5.021234750747681" style="border: 1px solid black"></iframe>
      <br/><small><a href="https://www.openstreetmap.org/?mlat=47.34094&amp;mlon=5.02123#map=18/47.34094/5.02123">Afficher une carte plus grande</a></small>
    </div>

  </div>

</div>
