<footer class="footer">
  <div class="container">
    <div class="copyright  typeset">
      <small class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
    </div>
    <div class="social">
      {% include link-svg.html alt="email" href="mailto:sevyoga7@gmail.com" data="/assets/img/svg/envelope.svg" %}
      {% include link-svg.html alt="facebook" href="https://www.facebook.com/Sev-Yoga-100599325044171" data="/assets/img/svg/facebook-square.svg" %}
      {% include link-svg.html alt="youtube" href="https://www.youtube.com/channel/UCvyC9prP-MXc3fFcbOBCo3Q" data="/assets/img/svg/youtube.svg" %}
      {% include link-svg.html alt="instagram" href="https://www.instagram.com/sevclem/" data="/assets/img/svg/instagram.svg" %}
    </div>
    <div class="freepik  typeset">
      <a href="http://www.freepik.com" target="_blank">Designed by Freepik</a>
    </div>
  </div>
</footer>
